{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": false
}